<ul class="nav">

  <li>
    <%= link_to 'Data Doctor', root_path %>
  </li>

  <li>
    <%= link_to 'New Entry', new_entry_path %>
  </li>

  <li>
    <%= link_to 'View Entries', entries_path%>
  </li>

</ul>